/* General App Styles */

.page-container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem; /* Add some padding */
}

.page-paper {
  padding: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .page-container {
    padding: 1rem;
  }

  .page-paper {
    padding: 1.5rem;
  }
}
